*{
    margin: 0;
    padding-left: 0;
    border: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-image:linear-gradient(to right, magenta, cyan);
}

header#cabeçalho{
    min-width: fit-content;
    margin-top: 10em;
    margin-bottom: 2em;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

main#corpo{
    background-color: white;
    color: black;
    height: 22em;
    width: 60vw;
    max-width: 19em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.7);
}

form{
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input{
    outline: none;
    width: 50vw;
    max-width: 16em;
    height: 2em;
    margin: 1em; 
    border-bottom: solid 0.5px black;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
}

input::placeholder{
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 5px;
}

button{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    width: 45vw;
    max-width: 9.5em;
    min-width: fit-content;
    font-size: 1.4em;
    background: rgb(100, 0, 139);
    color: white;
    font-weight: 500;
    border-radius: 5px;
}

footer{
    width: 80vw;
    height:500px;
    max-width: 600px;
}

div#hidden{
    text-align: center;
    animation: deslizar 1s;
    margin-top: 7em;
}

div#topo_tabela{
    margin-bottom: 1em;
    width: 80vw;
    max-width: 600px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@keyframes deslizar{
    0% {transform: translatey(10em);}

    100% {transform: translateX(0);}
}

table#tabela{
    margin-top: 20px;
    width: 80vw;
    max-width: 600px;
    height: 33vh;
    max-height: 300px;
    border: 1px black solid;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table#tabela th {
    border: 2px solid black;
    font-size: 1.5em;
    padding: 5px;
}
 
table#tabela td {
    border: 2px solid black;
    font-size: 1em;
    padding: 5px;
}

.autor{
    margin-top: 3em;
    margin-bottom: 3em;
}

a#autor{
    color:#ffff;
    font-style:normal;
    cursor: pointer; 
    box-shadow:30px 30px 60px rgba(0, 0, 0, 0.5);
}

a:link{
    text-decoration: none;
}

@media screen and (max-width:500px){
    button{
        padding-left: 1.3em;
        padding-right: 1.3em;
    }
    
}